<section id="about" class="px-3 sm:px-5 md:px-8 py-6">
  <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
    <h2 class="text-3xl sm:text-4xl font-semibold mb-6">Sobre Mi</h2>
    <p class="text-sm sm:text-sm lg:text-xl text-black">
      Soy un apasionado del desarrollo tecnológico, especializado en Back-end. 
      Tengo experiencia trabajando con frameworks como <strong>Spring Boot</strong>, <strong>Spark</strong> y <strong>Liferay</strong>, 
      además de desarrollar APIs REST, gestionar bases de datos con <strong>SQL</strong> y visualizar datos con <strong>Kibana</strong>. 
      También manejo herramientas como <strong>Git</strong>, <strong>GitHub</strong>, <strong>Databricks</strong>, <strong>Jenkins</strong> y <strong>UrbanCode</strong>.
    </p>
    <p class="text-sm sm:text-sm lg:text-xl text-black">
      Actualmente, amplío mis habilidades en el desarrollo Front-end, explorando tecnologías como <strong>React</strong>, <strong>Next.js</strong> y <strong>Astro</strong>, 
      con el objetivo de ofrecer soluciones más completas e innovadoras.
    </p>
    <p class="text-sm sm:text-sm lg:text-xl text-black">
      Como Ingeniero de Sistemas, mi formación me ha proporcionado una base sólida en programación, estructuras de datos y diseño de sistemas, lo que me permite 
      optimizar procesos y afrontar desafíos técnicos con eficacia.
    </p>
    <p class="text-sm sm:text-sm lg:text-xl text-black">
      Fuera del trabajo, soy un entusiasta del aprendizaje continuo, disfruto de la lectura y me gusta estar al tanto de las últimas tendencias tecnológicas. 
      En mi tiempo libre, me encanta caminar por la playa y practicar deportes, actividades que me ayudan a mantener el equilibrio entre la vida profesional y personal.
    </p>
  </div>  
</section>