<section id="about" class="px-3 sm:px-5 md:px-8 py-6">
  <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
    <h2 class="text-3xl sm:text-4xl font-semibold mb-6 ">About Me</h2>
    <p class="text-lg sm:text-xl font-medium  text-black ">
      Hi, (Sobre mi, habilidades y educacion, que me gusta. Proyectos y email) my name is Achraf abdeslami, a Fullstack Web Developer, UI Designer, and Mobile Developer. I have honed my skills in Web Development and advanced UI design principles, enabling me to create intuitive and visually appealing applications.
    </p>
  </div>  
</section>