---
const { prevUrl, nextUrl, currentPage, lastPage } = Astro.props;
---
<nav class="flex gap-3 justify-center p-1 rounded space-x-2">
  {
    prevUrl && (
    <a class="p-1 rounded border bg-blue-700 text-white hover:bg-blue-800 hover:border-blue-800" href={prevUrl}>
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
      </svg>
  </a>
    )
  }
  {
    lastPage > 1 && currentPage && (
    <p class="text-gray-500">Página {currentPage} de {lastPage}</p>
    )
  }
  {
    nextUrl && (
    <a class="p-1 rounded border bg-blue-700 text-white hover:bg-blue-800 hover:border-blue-800" href={nextUrl}>
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
      </svg>
  </a>
    )
  }  
</nav>