---
import { getAllTags } from "@/utils/getAllTags";
const tags = await getAllTags();
---

<div class="flex gap-3 justify-center">
  {
    tags.map((tag) => (
      <a href={`/blog/${tag.toLowerCase()}`}>
        <span class="inline-block py-1 px-2 rounded bg-blue-50 text-blue-700  font-medium tracking-widest">
          {tag}
        </span>
      </a>
    ))
  }
</div>
